{% extends 'template.html.twig' %}

 {% block title %} Formulaire {% endblock %}
  


{% block body %}

{{form_start(form,{'attr':{'novalidate':'novalidate'}})}}
        
          
         <div class="custom-form-container">
         {{ form_row(form.description, {'attr': {'class': 'custom-input'}}) }}
        

        

   {{ form_row(form.envoyer, {'attr': {'class': 'custom-submit-button'}}) }}
   </div>
            
 {{ form_end(form) }}
 {% endblock %}